* {
    all: unset;
}

@font-face {
    font-family: Monaspace Xenon;
    src: url('../fonts/MonaspaceXenon-Regular.woff2');
    font-weight: 400;
    font-style: normal;
}

:root {
    font-family: Monaspace Xenon;
    font-weight: 800;
    font-size: 20pt;
    color: lightyellow;
}

body {
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;

    * {
        margin: 0.1rem;
    }
}

#social {
    img {
        max-height: 1.5rem;
    }
}
