* {
    all: unset;
    transition: 100ms;
    margin: 0.1rem 0;
}

@font-face {
    font-family: Monaspace Xenon;
    src: url('../fonts/MonaspaceXenon-Regular.woff2');
    font-weight: 400;
    font-style: normal;
}

:root {
    font-family: Monaspace Xenon;
    font-weight: 800;
    font-size: 20pt;
    color: lightyellow;
}

body {
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social {
    max-width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social:hover {
    img {
        transform: scale(150%);
    }

    cursor: pointer;
}

.social img {
    max-width: 100%;
    max-height: 100%;
}

#welcome {
    display: flex;
    flex-direction: column;

    img {
        max-height: 16rem;
    }
}
